
.contenedor{
	width: 70%;
	text-align: left;
	margin: 0 auto;
	padding-top: 10px;
	margin-bottom: 5%;
}
.banner{
	display: inline-block;
	width: 100%;
}
h1{
	color: red;
	display: red,
}
.contenedor p{
	color: white;
}
