body{
	background-color: black;
}
table{
	margin: 0 auto;
}
#game{
	
		border: solid;
		border-color: white;
	}
#chk1{
	display: none;
}
#chk2{
	display: none;
}
#chk3{
	display: none;
}
.nave{
	width: 90px; 
	height: 120px;
}
#vidaEnemigo{
	float: right;
}
progress{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

}
progress::-webkit-progress-value {
	background: #FF0022;
	border-radius: 10px;
}
progress::-webkit-progress-bar {
	border-radius: 10px;
}
span{
	color: white;
} 
#rival{
	float: right;
}
.poke{
	display: none;
}